/.phpunit.cache
/var/
/vendor/
/.env.local
/.env.local.php
/.env.*.local
/config/jwt/
/public/bundles/
phpunit.xml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

/.env

/src.zip


###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
